.header {
    height: 90px;
    opacity: .9;
    background-color: black;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.container{
    width: 80%;
    display: flex;
    justify-content:flex-end;
    align-items: center;


}
@media (max-width: 600px) {
    .header{
        height: 90px;
        opacity: .9;
        background-color: black;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
}
@media (max-width: 600px) {
    .container {
        justify-content: center;
        margin-left: -50px;
    }
}