.header {
    height: 90px;
    background-color: #2cf357;
    display: flex;
    justify-content: center;

    
}
.container{
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
