.main {
    min-height: 80vh;
    background-color: #242323;
    display: flex;
    justify-content: center;
    /*background-image: url(https://images11.popmeh.ru/upload/img_cache/c2d/c2d28e4da5140a91be4b88fc68749b8e_ce_1024x768x0x0_fitted_1260x700.jpg);*/
}
.container{
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;

}
.greeting{
    display: flex;
    flex-direction: column;
}
.photo{
    background-image: url(http://s42.radikal.ru/i097/1107/21/b5d64eb99238.png);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.image{
    height: 500px;
    width: 400px;
}
.photo .image:before{
    content: "";
    position: absolute;
    width: 395px;
    height: 525px;
    border: 5px solid  #ea584d;
    left: 16px;
    top: -15px;
    z-index: -1;
}
.greeting span:nth-child(1){
    font-size: 16px;
}
.greeting span:nth-child(2),
.greeting span:nth-child(2) span{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    position: relative;
    z-index:  0;
}
.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 340px;
    height: 20px;
    background-color: #ea584d;
    bottom: 0;
    z-index: -1;
}

h1 {
    font-size: 27px;
}
@media (max-width: 599px){
    .photo{
        width: 100%;
    }
    .photo:before{
        width: 100%;
    }
}
@media (max-width: 600px){
    .greeting span:nth-child(1){
        font-size: 16px;
        text-align: center;
    }
    .greeting span:nth-child(2),
    .greeting span:nth-child(2) span{
        font-size: 16px;
        text-align: center;
    }
    .greeting span:nth-child(2) span:before {
        width: 150px;
        height: 6px;
        right: 0px;
    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
}
