.main {
    min-height: 80vh;
    background-color: #242323;
    display: flex;
    justify-content: center;
    /*background-image: url(https://images11.popmeh.ru/upload/img_cache/c2d/c2d28e4da5140a91be4b88fc68749b8e_ce_1024x768x0x0_fitted_1260x700.jpg);*/
}
.container{
    border: 1px solid;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.greeting{
    display: flex;
    flex-direction: column;
}
.photo{
    width: 400px;
    background-image: url(http://s42.radikal.ru/i097/1107/21/b5d64eb99238.png);
    background-size: cover;
    height: 500px;
    background-position: center;
    border-radius: 10px;

}
.mainSpan{
    color: white;
}
@media sreen and (max-width: 599px){
    .photo{
        width: 100%;

    }
}