.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #111;
    background-image: url("https://www.zastavki.com/pictures/originals/2013/Cities__039053_.jpg");
    background-size: 100%;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: relative;
    z-index: 1;
    opacity: .9;
}

.main:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111111;
    opacity: .7;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;

}

.greeting {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    z-index: 2;
}

.hello {
    font-family: 'Oswald', sans-serif;
}

.photo {
    position: relative;
    z-index: 1;

}

.imageHover {
    width: 420px;
    height: 520px;
}

.imageHover:hover .image {
    margin: 0;
    width: 420px;
    height: 520px;
}

.imageHover:hover .image:before {
    left: 12px;
    top: -13px;
    width: 414px;
    height: 540px;
}

.image {
    background-image: url("https://sun9-20.userapi.com/c855728/v855728693/9d290/xbUoAk4Hjvk.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 400px;
    margin: 10px;
    transition: 0.4s all;
}

.image:before {
    content: "";
    position: absolute;
    width: 400px;
    height: 520px;
    border: 5px solid #ea584d;
    left: 20px;
    top: -13px;
    z-index: -1;
    transition: 0.4s all;
    background-color: #111;
}

.greeting span:nth-child(1) {
    font-size: 1.3rem;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-size: 3.6rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 230px;
    height: 5px;
    background-color: #ea584d;
    left: -5px;
    bottom: 0;
    z-index: -1;
    transition: 0.5s all;
}

.greeting span:nth-child(2):hover span:before {
    height: 13px;
}

.greeting h1 {
    margin: 0;
}

h1 {
    font-size: 27px;
}

@media (max-width: 599px) {
    .photo {
        width: 100%;
    }

    .photo:before {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .greeting span:nth-child(1) {
        font-size: 16px;
        text-align: left;
    }

    .greeting span:nth-child(2),
    .greeting span:nth-child(2) span {
        font-size: 16px;
        text-align: center;

    }

    .greeting span:nth-child(2) span:before {
        width: 105px;
        height: 6px;
        right: 0px;
    }

    h1 {
        font-size: 15px;
        text-align: left;

    }
}
    @media (max-width: 600px) {
        .imageHover {
            width: 300px;
            height: 420px;
        }

        .imageHover:hover .image {
            margin: 0;
            width: 300px;
            height: 420px;
        }

        .imageHover:hover .image:before {
            left: 12px;
            top: -13px;
            width: 300px;
            height: 435px;
        }

        .image {
            background-image: url("https://sun9-20.userapi.com/c855728/v855728693/9d290/xbUoAk4Hjvk.jpg");
            background-size: cover;
            background-position: center;
            width: 300px;
            height: 420px;
            margin: 10px;
            transition: 0.4s all;
        }

        .image:before {
            content: "";
            position: absolute;
            width: 300px;
            height: 420px;
            border: 5px solid #ea584d;
            left: 20px;
            top: -13px;
            z-index: -1;
            transition: 0.4s all;
            background-color: #111;
        }
    }
