.container {
    min-height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.containerProject {
    width: 80%;
}

.header {
    display: flex;
    border: 1px solid;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}




