.project {
    min-height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    background-size: cover;
    width: 400px;
    height: 300px;
    z-index: -1;
}

.photo {
    position: relative;
    overflow: hidden;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 110%;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ea584d;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    z-index: 1;
}
.shadow{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 110%;
    transition: 1.3s;
    background-color:  #111111;
    z-index: -1;
    opacity: .7;
}

.photo:hover .shadow {
    top: 0;
    transition: 0.4s;
}
.photo:hover .block {
    top: 0;
    transition: 0.7s;
}

.photo {
    content: "";
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photo:hover .img {
    color: #111111;
    z-index: 2;
    content: "";
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;

}


@media screen and (max-width: 1510px ) {
    .project {
        width: 700px;
    }
}

@media screen and (max-width: 600px ) {
    .project {
        width: 300px;

    }
    .img {
        background-size: cover;
        width: 250px;
        height: 200px;
    }
}

@media screen and (max-width: 600px ) {
    .photo {
        width: 250px;
        height: 200px;
    }
}