.project {
    min-height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    background-size: cover;
    width: 400px;
    height:300px;
    z-index: -1;
    opacity:0.6;
    -moz-opacity:0.8;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    color:#FFFFFF;
}
/*.img {*/
/*    opacity:0.6;*/
/*    -moz-opacity:0.8;*/
/*    filter: alpha(opacity=80) black;*/
/*    -khtml-opacity: 0.8;*/
/*    color:#FFFFFF;*/
/*}*/

.img:hover {
    opacity:1;
    -moz-opacity:1;
    filter: alpha(opacity=100) black;
    -khtml-opacity: 1;
    color:#FFFFFF;
}


.photo {
    content: "";
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.photo:hover .img{
    color: #111111;
    z-index: 2;
    content: "";
}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
}




@media screen and (max-width: 1510px ){
    .project {
        width: 700px;
    }
}
@media screen and (max-width: 600px ){
    .project {
        width: 300px;

    }

    .img{
        background-size: cover;
        width: 250px;
        height:200px;
    }

}