.project {
    min-height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    background-size: cover;
    width: 400px;
    height:300px;
}

.photo {
    content: "";
    width:100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.textarea {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    color: white;
}




@media screen and (max-width: 1510px ){
    .project {
        width: 700px;
    }
}
@media screen and (max-width: 600px ){
    .project {
        width: 300px;

    }

    .img{
        background-size: cover;
        width: 250px;
        height:200px;
    }

}