.blockSkills{
    min-height: 100vh;
    background-color:#2b2a2a;
    display: flex;
    justify-content: center;
}
.skillsContainer{
    width: 80%;
}

.header{
    display: flex;
    border: 1px solid;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text{
    color: white;
}

@media screen and (max-width:1695px ){
    .skills{
        justify-content: center;
    }
}