.blockSkills{
    height: max-content;
    background-color: #202020;
    display: flex;
    justify-content: center;
}
.skillsContainer{
    width: 80%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.headerTitle{
    margin: 100px 0 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    font-weight: 400;
    font-size: 36px;
    text-transform: capitalize;
    position: relative;
    cursor: default;
}

.h2Hover:hover .headerTitle::after {
    width: 200px;
}

.headerTitle::after {
    content: '';
    position: absolute;
    bottom: -30px;
    height: 2px;
    width: 150px;
    margin: 15px 0px;
    background-color: #ea584d;
    transition: 0.4s;
}

@media screen and (max-width:1700px ){
    .skills{
        justify-content: center;
        flex-wrap: nowrap;
    }
}
@media screen and (max-width:1000px ){
    .skills{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
