.slogan{
    height: 25vh;
    background-color: #2b2a2a;
    display: flex;
    justify-content: center;

}

.containerSlogan{
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.text{
    color: white;
}
